<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Welkom')">
</head>
<body>
<h1>ProefPakket.</h1>
<p>Een pakket bieren van een brouwer naar uw keuze</p>
<img th:src="@{/images/brouwerij.jpg}" alt="sexy brouwerij">
<div>Kies een brouwer:</div>
<ul id="alfabet" class="naastElkaar">
    <li th:each="letter:${alfabet}">
        <a th:href="@{/{letter}(letter=${letter})}" th:text="${letter}"></a>
    </li>
</ul>
<ul th:if="${brouwers} != null">
    <li th:each="brouwer:${brouwers}" th:object="${brouwer}">
        <a th:href="@{/brouwers/{id}(id=*{id})}" th:text="*{naam}"></a>
    </li>
</ul>
</body>
</html>